<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Commodities {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
<!--
    <link rel="stylesheet" href="{% static 'omega/css/css/bootstrap.min.css' %}">
    -->
    <link rel="stylesheet" href="{% static 'omega/css/main.css' %}">
    {% block head %} {% endblock %}
    .active {
    color: rgb(201, 32, 13);
}
</head>
<body>


<nav class="navbar navbar-expand-lg p-3 bg-dark text-white fixed-top">
  <div class="container-fluid">


    <a class="navbar-brand mr-5" href="{% url 'omega:index' %}">Company Name</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% url 'omega:index' as url %}
          <li class="active">
                  <a href="{{url}}" class="text-primary nav-link {% if request.path == url %} text-warning {% endif %} px-2">Home</a>
              </li>
                {% if not request.user.is_authenticated %}

                {% else %}
                {% url 'omega:available' as url %}
              <li><a href="{{url}}" class="text-primary nav-link {% if request.path == url %} text-warning {% endif %} px-2">Available</a></li>
                {% url 'omega:summary' as url %}
              <li><a href="{{url}}" class="text-primary nav-link {% if request.path == url %} text-warning {% endif %} px-2">Categories</a></li>
                {% endif %}
                {% url 'omega:contact' as url %}
                <li><a href="{{url}}" class="text-primary nav-link {% if request.path == url %} text-warning {% endif %} px-2">Contact</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-3" action="{% url 'omega:search' %}" >
              <input type="search" name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
                    <div class="mt-1 ml-3">
                {% if not request.user.is_authenticated %}
              <a href="{% url 'omega:login' %}" class="btn btn-outline-light me-2">Login</a>
              <a href="{% url 'omega:signup' %}" class="btn btn-warning">Sign-up</a>
                {% else %}
                <a href="{% url 'omega:logout' %}" class="btn btn-outline-light me-2">Logout</a>
              <a href="{% url 'omega:profile' %}" class="btn btn-warning">{{request.user.username|title}}</a>
                {% endif %}
            </div>
    </div>
  </div>
</nav>

    {% block content %}

    {% endblock %}



        <br class="py-5 my-5">
        <br class="py-5 my-5">
      <footer class="container pt-4 my-md-5 pt-md-5 border-top mt-5">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="{% static 'omega/logo.png' %}" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>Categories</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Category</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Category</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Category</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Category</a></li>
            </ul>
          </div>
            {% if not request.user.is_authenticated %}

            {% else %}
          <div class="col-6 col-md">
            <h5>Popular</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Commodity Unit</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Commodity Unit</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Commodity Unit</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Commodity Unit</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Commodity Unit</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Commodity Unit</a></li>
            </ul>
          </div>
            {% endif %}
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contact</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
    crossorigin="anonymous"></script>
<!--
    <script src="{% static 'omega/js/js/bootstrap.bundle.min.css' %}"></script>
    -->
</body>
</html>