{% extends 'omega/core.html' %}
{% load static %}
{% block head %}
<style>
h4 {
color: rgb(51, 57, 241);
}

</style>
{% endblock %}

{% block content %}

      <div class="b-example-divider"></div>

      <div class="container py-3">
        <div class="row featurette py-2 ml-3">
        <div class="col-md-5 order-md-3">
          <h2 class="featurette-heading">{{object.name|title}}</h2>
          <p class="lead">Brief Description</p>
        </div>
        <div class="col-md-6 order-md-2"><!--
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
-->          <img src="{{object.image.url}}" class="featurette-image img-fluid" width="500" height="500">
        </div>
                  <div class="col-md-1 order-md-1">

        </div>
      </div>

         <div class="container px-4 py-5" id="icon-grid">
          <h2 class="pb-2 border-bottom">Parameters</h2>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Type</h4>
                <p class="fs-4">{{object.name}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Current Price</h4>
                <p class="fs-4">${{object.current_price}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Date</h4>
                <p class="fs-4">{{object.month}}/{{object.year}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Unit of Measurement</h4>
                <p class="fs-4">{{object.unit}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Volume</h4>
                <p class="fs-4">{{object.volume}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Category</h4>
                <p class="fs-4">{{object.category.name|title}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Opening Price</h4>
                <p class="fs-4">${{object.opening_price}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h4 class="fw-bold mb-0">Available</h4>
                {% if object.available %}
                <p class="fs-4">Yes</p>
                  {% else %}
                  <p class="fs-4">No</p>
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="b-example-divider py-1 mb-1 mb-md-5">

{% endblock %}