{% extends 'omega/core.html' %}
{% load static %}

{% block head %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bg {
      background-color: #D1D7E0;
      }
    </style>

{% endblock %}


{% block content %}

      <div class="b-example-divider"></div>

      <main>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
        <h1 class="visually-hidden"></h1>

        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="{% static 'omega/logo.png' %}" width="72" height="57">
          <h1 class="display-5 fw-bold">Company Name or Logo</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 fs-4 text-lg">Trade in a variety of commodity instruments in different sectors around the world. To view the available commodities, register an account to
              obtain login credentials.
            </p>
            {% if user.is_authenticated %}

            {% else %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{% url 'omega:signup' %}" class="btn btn-warning btn-lg px-4 gap-3">Register</a>
              <a href="{% url 'omega:login' %}" class="btn btn-success btn-lg px-4">Login</a>
            </div>
            {% endif %}
          </div>
        </div>

        <div class="b-example-divider"></div>

        <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h1 class="display-4 fw-bold">Agricultural Commodities</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 fs-4 text-lg">Agricultural instruments involve trading in soft market products, such as sugar, cocoa and coffee; Grains,
              such as wheat, rice and corn; Animal goods that include live cattle and pork; Extending to cotton and lumber.</p>
          </div>
          <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
              <img src="{% static 'omega/agri1.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
          </div>
        </div>

        <div class="b-example-divider"></div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="{% static 'omega/energy1.jpg' %}" class="d-block mx-lg-auto img-fluid" loading="lazy" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Energy</h1>
              <p class="lead fs-4 text-lg">Energy commodities comprises crude oil, gasoline, coal, natural gas, etc., financial products. </p>
            </div>
          </div>
        </div>

        <div class="b-example-divider"></div>

        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
          <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
              <h1 class="display-4 fw-bold lh-1 mb-3">Metals</h1>
              <p class="col-lg-10 fs-4">Metal comprises mining products, such as fold, copper, silver and platinum.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
              <img src="{% static 'omega/metal1.jpg' %}" class="d-block mx-lg-auto img-fluid" loading="lazy" width="700" height="500" loading="lazy">

            </div>
          </div>
        </div>

        <div class="b-example-divider mb-0"></div>
      </main>

{% endblock %}