{% extends 'omega/regis.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<main class="form-signin">
  <form method="POST">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'omega/unsplash-photo-3.jpg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Account Registration</h1>

        <div class="form-floating mb-1">
            <label>First Name</label>
          {{ form.firstname.errors|striptags }}
          {% render_field form.firstname type="text" id="i1" class="form-control" placeholder="First Name" %}

    </div>

    <div class="form-floating mb-1">
            <label>Last Name</label>
          {{ form.lastname.errors|striptags }}
          {% render_field form.lastname type="text" class="form-control" placeholder="Last Name" %}
    </div>

    <div class="form-floating mb-1">
        <label>Email Address</label>
          {{ form.email.errors|striptags }}
          {% render_field form.email type="email" class="form-control" placeholder="Email Address" %}
    </div>
    <div class="checkbox mb-3">
    <button class="w-100 btn btn-lg btn-warning" type="submit">Register</button>
    <small><a href="#">Login</a></small>
    <p class="mt-5 mb-3 text-muted">&copy; 2021 </p>
  </form>
</main>

{% endblock %}